// fade
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease;
}

// toast
.toast-enter {
  opacity: 0;
  transform: translateY(4rem);
}
.toast-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.5s, opacity 0.5s;
}
.toast-exit {
  opacity: 1;
  transform: translateY(0);
}
.toast-exit-active {
  opacity: 0;
  transform: translateY(4rem);
  transition: transform 0.5s, opacity 0.5s;
}

// hover
.animate__animated:hover {
  animation-duration: 2s;
  animation-fill-mode: none;
}

.hover-animate-heartBeat:hover {
  animation-name: heartBeat;
}

.animate__animated:hover {
  animation-duration: 2s;
  animation-fill-mode: none;
}

.hover-animate-shakeX:hover {
  animation-name: shakeX;
}

.animate__animated {
  transition: all 0.5s;
  transform: scale(100%);
  &.scale:hover {
    transform: scale(110%);
  }
  &.small {
    transform: scale(90%);
    &.scale:hover {
      transform: scale(110%);
    }
  }
}

.animate__animated_scroll {
  animation-duration: 2s;
  animation-fill-mode: both;
  visibility: hidden;
  &.fadeIn {
    visibility: visible;
    animation-name: fadeIn
  }
  &.fadeInRight {
    visibility: visible;
    animation-name: fadeInRight
  }
  &.fadeInLeft {
    visibility: visible;
    animation-name: fadeInLeft
  }
  &.fadeInUp {
    visibility: visible;
    animation-name: fadeInUp
  }
  &.fadeInDown {
    visibility: visible;
    animation-name: fadeInDown
  }
  &.fadeOut {
    visibility: visible;
    animation-name: fadeOut
  }
  &.backInLeft {
    visibility: visible;
    animation-name: backInLeft
  }
  &.backInRight {
    visibility: visible;
    animation-name: backInRight
  }
  &.rotateInDownLeft {
    visibility: visible;
    animation-name: rotateInDownLeft
  }
}
