.slick-slider.slick-initialized {
  position: relative;
  &.section_first_slider {
    height: 100vh;
    .slick-dots {
      position: absolute;
      bottom: 2.4rem;
      li {
        button::before {
          transition: all 0.3s ease-in-out;
          font-size: 1.2rem;
          color: rgba(255, 255, 255, 0.8);
          text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
        }
        &.slick-active {
          button::before {
            color: $white;
          }
        }
      }
    }
    .slick-arrow {
      width: 6.4rem;
      height: 6.4rem;
      z-index: 500;
      opacity: 0.6;
      transition: all 0.5s ease-in-out;
      &:hover {
        opacity: 1;
      }
      &.slick-prev, &.slick-next {
        &::before {
          text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
          &:hover {
            transition: all 0.6s ease-in-out;
          }
        }
      }
      &.slick-prev {
        left: 4rem;
        &::before {
          font-size: 6.4rem;
        }
      }
      &.slick-next {
        right: 4rem;
        &::before {
          font-size: 6.4rem;
        }
      }
    }
  }
  &.section_second_slider {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .slick-list {
      display: flex;
      align-items: center;
      .slick-track {
        display: flex;
      }
    }
    .slick-dots {
      position: unset;
      bottom: unset;
      margin-top: 2.4rem;
      li {
        button {
          &::before {
            font-size: 1.6rem;
            opacity: 1;
            color: rgba(39, 40, 44, 0.4);
          }
        }
        &.slick-active {
          button {
            &::before {
              opacity: 1;
              color: $gray700;
            }
          }
        }
      }
    }
  }
  &.section_third_slider {
    height: 100%;
    .slick-list {
      height: 100%;
      display: flex;
      align-items: center;
      .slick-track {
        display: flex;
        .slick-slide {
          padding: 2.4rem;
          opacity: 0.5;
          transition: all 0.3s;
          & > div {
            display: flex;
            align-items: center;
          }
          &.slick-center {
            opacity: 1;
            .layout {
              background: $gray600;
              .content {
                h3 {
                  color: $white;
                }
                li {
                  color: $gray100;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $md) {
  .slick-slider.slick-initialized {
    &.section_first_slider {
      .slick-dots {
        li {
          button::before {
          }
          &.slick-active {
            button::before {
            }
          }
        }
      }
      .slick-arrow {
        &:hover {
        }
        &.slick-prev, &.slick-next {
          &::before {
            display: none;
            &:hover {
            }
          }
        }
        &.slick-prev {
          &::before {
          }
        }
        &.slick-next {
          &::before {
          }
        }
      }
    }
    &.section_second_slider {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .slick-list {
        display: flex;
        align-items: center;
        .slick-track {
          display: flex;
        }
      }
      .slick-dots {
        position: unset;
        bottom: unset;
        margin-top: 2.4rem;
        li {
          button {
            &::before {
              font-size: 1.6rem;
              opacity: 1;
              color: rgba(39, 40, 44, 0.4);
            }
          }
          &.slick-active {
            button {
              &::before {
                opacity: 1;
                color: $gray700;
              }
            }
          }
        }
      }
    }
    &.section_third_slider {
      height: 100%;
      .slick-list {
        height: 100%;
        display: flex;
        align-items: center;
        .slick-track {
          display: flex;
          .slick-slide {
            padding: 2.4rem;
            opacity: 0.5;
            transition: all 0.3s;
            & > div {
              display: flex;
              align-items: center;
            }
            &.slick-center {
              opacity: 1;
              .layout {
                background: $gray600;
                .content {
                  h3 {
                    color: $white;
                  }
                  li {
                    color: $gray100;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
