header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  height: 8.8rem;
  border-bottom: 1px solid $gray600;
  position: fixed;
  padding: 0 4rem;
  z-index: 500;
  h1 {
    img {
      height: 4.8rem;
    }
  }
  .nav_list {
    display: flex;
    li {
      @include font(1.8rem);
      color: $white;
      opacity: 0.6;
      margin-right: 3.2rem;
      position: relative;
      cursor: pointer;
      transition: all 0.6s;
      &:last-of-type {
        margin-right: 0;
      }
      &.active {
        opacity: 1;
        transition: all 0.8s;
        &::after {
          content: "";
          display: block;
          position: absolute;
          bottom: -3.3rem;
          width: 100%;
          height: 0.8rem;
          border-radius: 5rem;
          background: $white;
        }
      }
      &:hover, &:active {
        opacity: 1;
        font-weight: $medium;
      }
    }
  }
  .function_group {
    display: flex;
    a {
      margin-right: 1.6rem;
      &:last-of-type {
        margin-right: 0;
      }
    }
    button {
      border-radius: 5rem;
      padding: 0.4rem 1.6rem 0.4rem 0.4rem;
      border: 1px solid rgba(255, 255, 255, 0.6);
      color: rgba(255, 255, 255, 0.6);
      @include font(1.5rem);
      display: flex;
      align-items: center;
      transition: all 0.8s;
      .icon {
        margin-right: 0.8rem;
        transition: all 0.8s;
      }
      &:hover {
        background: rgba(255, 255, 255, 0.8);
        color: $gray900;
        font-weight: $bold;
        .icon {
          @each $activeHover in nav_signup, nav_start, nav_support {
            &.#{$activeHover} {
              background: center / contain no-repeat url($icon-path + 'icon_24_#{$activeHover}_active.svg');
              min-width: 2.4rem;
              min-height: 2.4rem;
            }
          }
        }
      }
    }
  }
  .icon {
    &.menu {
      display: none;
    }
  }
}

@media (max-width: $xl) {
  header {
    height: 8rem;
    h1 {
      img {
        width: 100%;
        height: 4rem;
      }
    }
    .nav_list {
      li {
        @include font(1.6rem);
        &.active {
          &::after {
            bottom: -3rem;
            height: 0.8rem;
          }
        }
      }
    }
    .function_group {
      a {
        button {
          padding: 0.2rem 0.8rem 0.2rem 0.2rem;
          .icon {
            margin-right: 0.4rem;
          }
          span {
            @include font(1.4rem);
          }
        }
      }
    }
  }
}

@media (max-width: $lg) {
  header {
    height: 8rem;
    padding: 0 2.4rem;
    z-index: 2000;
    top: 0;
    left: 0;
    h1 {
      img {
        width: 100%;
        height: 4rem;
      }
    }
    .nav_list {
      display: none;
      width: 100%;
      position: absolute;
      bottom: -26.1rem;
      left: 0;
      background: rgba(0, 0, 0, 0.8);
      backdrop-filter: blur(10px);
      transition: all 0.4s;
      text-align: center;
      padding: 2.4rem ;
      &.active {
        display: block;
      }
      li {
        @include font(1.6rem);
        margin-right: 0;
        padding: 0.8rem 0;
        margin-bottom: 0.8rem;
        &:last-of-type {
          margin-bottom: 0;
        }
        &.active {
          font-weight: $bold;
          background: $white;
          color: $gray900;
          border-radius: 5rem;
          &::after {
            display: none;
          }
        }
      }
    }
    .function_group {
      display: none;
      width: 100%;
      position: absolute;
      bottom: -31.5rem;
      left: 0;
      backdrop-filter: blur(10px);
      background: rgba(0, 0, 0, 0.8);
      transition: all 0.4s;
      padding: 0 0 2.4rem;
      border-radius: 0 0 2.4rem 2.4rem;
      &.active {
        display: flex;
        justify-content: center;
      }
      a {
        button {
          .icon {
          }
        }
      }
    }
    .icon {
      &.menu {
        display: block;
      }
    }
  }
}